<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add
                name="StaticFile"
                path="*" verb="*"
                modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
                resourceType="Either"
                requireAccess="Read" />
        </handlers>
        <staticContent>
            <remove fileExtension=".dll" />
            <remove fileExtension=".json" />
            <remove fileExtension=".wasm" />
            <remove fileExtension=".pdb" />
            <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
            <mimeMap fileExtension=".pdb" mimeType="text/plain" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <!-- https://github.com/SteveSandersonMS/BlazorMigration/commit/a82fd5099ea0d690c7709bd1217230046f576530 -->
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>